parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:withTrashed\\(\\)\\.$#"
			count: 1
			path: src/ApiController.php

		-
			message: "#^Call to an undefined method SnowDigital\\\\JsonApi\\\\QueryBuilder\\\\DefaultQueryBuilder\\:\\:jsonPaginate\\(\\)\\.$#"
			count: 1
			path: src/ApiController.php

		-
			message: "#^Call to an undefined method Spatie\\\\QueryBuilder\\\\QueryBuilder\\:\\:jsonPaginate\\(\\)\\.$#"
			count: 1
			path: src/ApiController.php
