parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method SnowDigital\\\\JsonApi\\\\QueryBuilder\\\\DefaultQueryBuilder\\:\\:jsonPaginate\\(\\)\\.$#"
			count: 2
			path: src/ApiController.php
